.heroImage {
  background-image: url("../public/ad.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  .heroImage {
    background-size: fill;
    background-position: bottom;
  }
}
